@import "tailwindcss";

* {
    scroll-behavior: smooth !important;
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;

}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    /* animation: marquee-ref 6s linear infinite; */
}

.track-normal {
    animation: marquee 6s linear infinite;
}

.track-rev {
    animation: marquee-rev 6s linear infinite;
}

.content {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes marquee-rev {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}