@import "tailwindcss";

@font-face {
    font-family: poppins;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}
/* 
@font-face {
    font-family: poppinsExtraBold;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf");
} */

* {
    scroll-behavior: smooth !important;
}

@theme {
    --font-primary: 'Poppins', sans-serif;
    /* --font-bold: 'PoppinsExtraBold', sans-serif; */
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;

}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    /* animation: marquee-ref 6s linear infinite; */
}

.track-normal {
    animation: marquee 6s linear infinite;
}

.track-rev {
    animation: marquee-rev 6s linear infinite;
}

.content {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes marquee-rev {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
}
